<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          Menu
        </button>
        <table>
          <tr>
            <td>
              <button type="button" id="sidebarCollapse" class="btn navbar-btn menu" (click)="toggleMenu()">
                <i class="glyphicon glyphicon-menu-hamburger"></i>
              </button>
            </td>
            <td>
              <a class="navbar-brand" href="/"><i>VoxPop</i></a>
            </td>
          </tr>
        </table>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse  test" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/como-utilizar" id="como-utilizar"><span class="glyphicon glyphicon-search"></span> Como utilizar nosso sistema</a></li>
            <li><a href="/registro" id="register"><span class="glyphicon glyphicon-user"></span> Criar Conta</a></li>
            <li><a href="/login" id="login"><span class="glyphicon glyphicon-log-in"></span> Efetuar Login</a></li>
            <li><a href="/perfil" style="display:none" id="profile"><span class="glyphicon glyphicon-user"></span> Meu Perfil</a></li>
            <li><a href="/" style="display:none" id="logout" (click)="callLogout()">Sair</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
