<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; VoxPop 2018</span>
      </div>
      <div class="col-md-offset-4 col-md-4" align="right">
        <ul class="list-inline quicklinks">
          <li class="list-inline-item">
            <a href="/">Política de Privacidade</a>
          </li>
          <li class="list-inline-item">
            <a href="/">Termos de Uso</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>