<div class="container">
  <div class="row">
    <div class="text-justify">
      <div class="text-center">
        <img src="/assets/images/LogoVPAzul.png" width="30%" height="30%" alt="Logo">
        <h3>Como utilizar nosso sistema</h3>
      </div>
      <br>
      <h4>Criar conta e efetuar login</h4>
      <p>Para utilizar o nosso sistema, a primeira coisa a se fazer, é criar uma conta! E para fazer isso, basta seguir os seguintes passos:</p>
      <br>
      <p><b>a.</b> Clique no botão "Criar Conta" no canto superior direito do site.</p>
      <img src="/assets/images/tutorial1.png" width="100%" height="100%">
      <br><br>
      <p><b>b.</b> Preencha as informações e conclua o cadastro (caso prefira, você pode utilizar o seu perfil do Facebook para se cadastrar).</p>
      <img src="/assets/images/tutorial2.png" width="100%" height="100%">
      <br><br>
      <p><b>c.</b> Efetue o login no site com o nome de usuário e senha escolhidos.</p>
      <p>P.S.: Caso se cadastre utilizando o seu perfil do Facebook, você será logado automaticamente todas as vezes que acessar o VoxPop, caso esteja conectado ao seu perfil do Facebook.</p>
      <img src="/assets/images/tutorial3.png" width="100%" height="100%">
      <br><br>
      <p><b>d.</b> Caso se cadastre utilizando o seu perfil do Facebook, preencha as suas informações sociais após efetuar o cadastro.</p>
      <p>É muito importante para nós que o questionário social seja preenchido, pois nós utilizamos as informações sociais dos usuários para gerar estatísticas a respeito dos votos.</p>
      <p>Para preencher ou modificar suas informações sociais, clique no botão "Meu Perfil" no canto superior direito do site.</p>
      <img src="/assets/images/tutorial4.png" width="100%" height="100%">
      <br><br>
      <p><b>e.</b> Em seguida, clique no botão "Editar" e preencha suas informações sociais de maneira adequada.</p>
      <img src="/assets/images/tutorial5.png" width="100%" height="100%">
      <br><br>
      <p><b>f.</b> E pronto, você já está apto a utilizar todos os recursos do nosso sistema!</p>
      <br>
      <h4>O que é possível fazer utilizando o nosso sistema</h4>
      <p>Ao utilizar o VoxPop, você terá acesso a vários tipos de informações!</p>
      <br>
      <p><b>a.</b> Na página inicial, você tem acesso às proposições que obtiveram atualização em seus status mais recentemente (dados de tramitação e/ou situação modificados) ao lado esquerdo da tela, e aos parlamentares mais ativos (que mais votaram em proposições) ao lado direito da tela.</p>
      <img src="/assets/images/tutorial6.png" width="100%" height="100%">
      <br><br>
      <p><b>b.</b> No menu à esquerda do site, você pode acessar a página com a listagem de todos os parlamentares atuais, a listagem dos deputados mais seguidos pelos usuários, e a listagem dos deputados que você segue.</p>
      <img src="/assets/images/tutorial7.png" width="100%" height="100%">
      <br><br>
      <p><b>c.</b> Ao acessar a página de algum parlamentar específico, por meio de qualquer parte do site, você tem acesso a informações referentes a sua compatibilidade com o parlamentar.</p>
      <img src="/assets/images/tutorial8.png" width="100%" height="100%">
      <br><br>
      <p><b>d.</b> No menu à esquerda do site, você pode acessar a página com a listagem de todos as proposições disponíveis no nosso sistema, a página para votar em proposições que os parlamentares atuais votaram (quanto mais você votar, mais os cálculos de compatibilidade com os parlamentares se tornam precisos, e mais as nossas estatísticas de usuários se tornam precisas), e a página com a listagem das proposições em que você votou (com a possibilidade de alterar o voto).</p>
      <img src="/assets/images/tutorial9.png" width="100%" height="100%">
      <br><br>
      <p><b>e.</b> Ao acessar a página de alguma proposição específica, por meio de qualquer parte do site, você tem acesso a várias informações referentes a proposição, como taxa de aprovação pelos parlamentares, taxa de aprovação pelos usuários, taxa de aprovação por região, taxa de aprovação por gênero, etc., além da possibilidade de acessar e ler a proposição na íntegra.</p>
      <img src="/assets/images/tutorial10.png" width="100%" height="100%">
      <br><br>
      <img src="/assets/images/tutorial11.png" width="100%" height="100%">
      <br><br>
      <p><b>f.</b> No menu à esquerda do site, você pode acessar a página com o ranking dos parlamentares que são mais compatíveis com você.</p>
      <img src="/assets/images/tutorial12.png" width="100%" height="100%">
      <br><br>
      <p><b>g.</b> E caso queira entrar em contato conosco, basta utilizar o formulário disponível também no menu à esquerda! Não deixe de nos mandar suas sugestões, dúvidas e/ou reclamações! :)</p>
      <img src="/assets/images/tutorial13.png" width="100%" height="100%">
      <br><br>
      <div class="text-right">
        <p><i>Atenciosamente, equipe do VoxPop.</i></p>
      </div>
    </div>
  </div>
</div>
