<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="panel panel-primary text-left">
      <div class="panel-heading">
        Fale Conosco
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label>Assunto</label>
          <input name="topic" type="text" class="form-control" placeholder="Digite o assunto do e-mail" [(ngModel)]="input.topic">
        </div>
        <div class="form-group">
            <label data-toggle="tooltip" title="Escolha o motivo de contato">Motivo do Contato</label>
            <select name="choice" class="form-control" [(ngModel)]="input.choice">
                 <option value="1" selected>Dúvida</option>
                 <option value="2" selected>Sugestão</option>
                 <option value="3" selected>Reclamação</option>
                 <option value="0" selected>Outro</option>
            </select>
        </div>
        <textarea rows="10" class="form-control" [(ngModel)]="input.text">
        </textarea>
        <br>
        <button class="btn btn-danger" type="submit" id="cancelBtn">Voltar</button>
        <button class="btn btn-primary" type="submit" id="submitBtn" disabled>Enviar</button>
      </div>
    </div>
  </div>
</div>