<body>
  <div class="main-card">
    <div class="card">
      <div class ="container">
          <button class='btn btn-light' (click)="followParliamentarian()">
              <span class="glyphicon glyphicon-pushpin"> 
                Seguir 
              </span>
          </button>
      </div>
      <div class="img-container">
        <img class="card-image" src="{{parlimentarian['photo']}}">
      </div>
      <div class="container">
        <h4><b>{{parlimentarian['name']}}</b></h4>
        <p>Gênero: {{gender}}</p>
        <p>UF: {{parlimentarian['federal_unit']}}</p>  
      </div>
    </div>
  </div>
</body>