<h1 align="center" class='card-title'>
  Proposição
</h1>
<div class="main-card">
  <div class="main-card-content">
    <h5 class="card-title">{{proposition['proposition_type']}} - Número: {{proposition['number']}}</h5><br>
    <ul class="text-left">
      <li>Ano: {{proposition['year']}}</li>
      <li>Abstract: {{proposition['abstract']}}</li>
      <li>Situação: {{proposition['situation']}}</li>
      <li>Na íntegra: <a href="{{proposition['url_full']}}">link íntegra</a></li>
    </ul>
    <div style="text-align: center; margin-bottom: 10px">
      <button class='btn btn-success' (click)="answerPL('Y')"><span class="glyphicon glyphicon-ok"></span></button>
      <button class='btn btn-light' (click)="answerPL('A')"><span class="glyphicon glyphicon-minus"></span></button>
      <button class='btn btn-danger' (click)="answerPL('N')"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
  </div>
</div>
