
<div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title text-center">
          <span>Efetuar Login</span>
        </h3>
      </div>
      <div *ngIf="logging" class="overlay">
        <div *ngIf="logging" align="center" class="loading">
            <p>Realizando login...</p>
            <div class="loader"></div>
          </div>
      </div>

      <div class="alert alert-success" role="alert" id="registerAlert" style="display:none">
          <p>Registro feito com sucesso!</p>
        </div>
      <div class="panel-body">
        <form (submit)="login(username.value, password.value)">
          <div class="form-group">
            <div class="alert alert-danger" role="alert" id="alert-invalid" style="display:none">
              <p>{{valueInvalid}}</p>
            </div>
            <label>Nome de usuário</label>
            <input type="username" class="form-control" placeholder="Digite aqui o seu nome do usuário" #username>
          </div>
          <div class="form-group">
            <label>Senha</label>
            <input type="password" class="form-control" placeholder="Digite aqui a sua senha" #password>
          </div>
          <div class="text-center">
            <button class="btn btn-primary btn-lg" type="submit" id="loginBtn">Entrar</button>
          </div>
          <br>
          <div class="text-center">
            <p>Ou se preferir:</p>
            <div class="fb-login-button" data-width="300" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="true" data-auto-logout-link="false" data-use-continue-as="true" data-scope="public_profile, email"></div>
          </div>
        </form>
      </div>
    <div class="panel-footer text-muted text-center"><a href="/register">Não possui uma conta? Cadastre-se</a></div>
  </div>
  <div class="fb-like" data-href="https://voxpop.ml/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
</div>
