.container{
    max-width:100%;
}

.login-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    transition: .3s;
    padding: 5% 10% 5% 10%;
    background: white;
    color: #122a38;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    border-color: #6c757d;
}

.login-card:hover {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .2);
}

.btn, .btn-primary{
    background-color: #4267b2;
    padding-left: 20px;
    padding-right: 20px;
}

.btn:hover, .btn-primary:hover{
    background-color: #5bc0de;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(51,51,51,0.7);
    z-index: 1050;
}

.loading {
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    color: white;
}
