<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4 col-md-offset-4">
      <form (submit)="login($event)">
        <div class="card">
          <div class="form-group">
            <label>Nome de usuário</label>
            <input type="text" class="form-control" placeholder="Entre o nome do usuário">
          </div>
          <div class="form-group">
            <label>Senha</label>
            <input type="password" class="form-control" placeholder="Senha">
          </div>
          <button class="btn btn-primary" type="submit" id="loginBtn">Entrar</button>
        </div>
      </form>
    </div>
  </div>
</div>