<div class="container">
  <div class="row">
    <div class="text-justify">
      <div class="text-center">
        <img src="/assets/images/LogoVPAzul.png" width="30%" height="30%" alt="Logo">
        <h3>Política de privacidade do VoxPop</h3>
      </div>
      <br>
      <p>Todas as suas informações pessoais recolhidas, serão usadas para ajudar a tornar a sua visita no nosso site o mais produtiva e agradável possível.</p>
      <p>A garantia da confidencialidade dos dados pessoais dos utilizadores do nosso site é importante para o VoxPop.</p>
      <p>Todas as informações pessoais relativas a membros ou visitantes que usem o VoxPop serão tratadas em concordância com a Lei da Proteção de Dados Pessoais de 26 de outubro de 1998 (Lei n.º 67/98).</p>
      <p>A informação pessoal recolhida pode incluir o seu nome, e-mail, unidade federativa, data de nascimento e/ou outros.</p>
      <p>O uso do VoxPop pressupõe a aceitação deste Acordo de privacidade. A equipe do VoxPop reserva-se ao direito de alterar este acordo sem aviso prévio. Deste modo, recomendamos que consulte a nossa política de privacidade com regularidade, de forma a estar sempre atualizado.</p>

      <br>
      <h4>Os anúncios</h4>
      <p>Tal como outros websites, coletamos e utilizamos informação contida nos anúncios. A informação contida nos anúncios, inclui o seu endereço de IP (Internet Protocol), o seu ISP (Internet Service Provider, como o Sapo, Clix, ou outro), o browser que utilizou ao visitar o nosso website (como o Internet Explorer ou o Firefox), o tempo da sua visita e que páginas visitou dentro do nosso website.</p>

      <br>
      <h4>Os Cookies</h4>
      <p>Utilizamos cookies para armazenar informação, tais como as suas preferências pessoas quando visita o nosso website.</p>
      <p>Em adição também utilizamos publicidade de terceiros no nosso website para suportar os custos de manutenção. Alguns destes publicitários, poderão utilizar tecnologias como os cookies e/ou web beacons quando publicitam no nosso website, o que fará com que esses publicitários (como o Google através do Google AdSense) também recebam a sua informação pessoal, como o endereço IP, o seu ISP, o seu browser, etc. Esta função é geralmente utilizada para geotargeting (mostrar publicidade de Lisboa apenas aos leitores oriundos de Lisboa por ex.) ou apresentar publicidade direcionada a um tipo de utilizador (como mostrar publicidade de restaurante a um utilizador que visita sites de culinária regularmente, por ex.).</p>
      <p>Você detém o poder de desligar os seus cookies, nas opções do seu browser, ou efetuando alterações nas ferramentas de programas Anti-Virus, como o Norton Internet Security. No entanto, isso poderá alterar a forma como interage com o nosso website, ou outros websites. Isso poderá afetar ou não permitir que efetue login na nossa plataforma.</p>

      <br>
      <h4>Ligações a sites de terceiros</h4>
      <p>O VoxPop pode possuir ligações a outros sites, os quais, a nosso ver, podem conter informações / ferramentas úteis para os nossos visitantes. A nossa política de privacidade não é aplicada a sites de terceiros, de modo que, caso visite outro site a partir do nosso deverá ler a politica de privacidade do mesmo.</p>
      <p>Não nos responsabilizamos pela política de privacidade ou conteúdo presente nesses mesmos sites.</p>

      <br>
      <br>
    </div>
  </div>
</div>
