.center {
    margin: auto;
    width: 30%;
}

.p-center {
    text-align: center;
}

.header {
    margin-bottom: 60px;
}

.btn .btn-primary{
    background: #7386D5;
}

.alternative {
    background-color: #638bad;
    color: white;
}