<div class="header" align="center">
  <div class="text-center">
    <h3>Parlamentares seguidos</h3>
  </div>
  <form class="col-sm-4 col-sm-offset-4 search" role="search" method="get" action="/busca">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Buscar entre os deputados" #search>
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit" (click)="loadPage(1, search.value)">
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </div>
    </div>
  </form>
</div>
<br>
<div class="col-sm-3 text-center" *ngFor="let p of parliamentarians">
  <a routerLink="/parliamentarians/{{p.parliamentary['id']}}" routerLinkActivate="active">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span>{{p.parliamentary['name']}} </span>
        </h3>
      </div>
      <div class="panel-body">
        <img src="{{p.parliamentary['photo']}}" width="114" height="152" alt="woops, someting went wrong">
      </div>
      <div class="panel-footer text-muted">{{p.parliamentary['political_party']}}/{{p.parliamentary['federal_unit']}}</div>
      <div *ngIf="tokenValue !== ''" class="panel-footer text-muted alternative">{{p.parliamentary['compatibility']}} %</div>
    </div>
  </a>
</div>
<div class="row" *ngIf="pages == 0">
  <div class="main-card">
    <div class="main-card-content">
      <p>Você verá aqui os parlamentares seguidos,
        <a href="/parliamentarians">ver parlamentares</a>
      </p>
    </div>
  </div>
</div>
<table style="width:100%" *ngIf="pages > 0">
  <tr>
    <div class="row">
      <div class="col-sm-12">
        <ul class="nav nav-pills center">
          <td>
            <button id="beforeBtn1" class="btn" (click)="loadPage(1, term)">Inicio</button>
          </td>
          <td>
            <button id="beforeBtn2" class="btn" (click)="loadPage(offset-1, term)">Ant.</button>
          </td>
          <td>
            <input id="pageBtn1" type="text" size="3" class="form-control" #page>
          </td>
          <td>
            <button id="pageBtn2" class="btn" (click)="loadPage(page.value, term)">Ir</button>
          </td>
          <td>
            <button id="afterBtn1" class="btn" (click)="loadPage(offset+1, term)">Prox.</button>
          </td>
          <td>
            <button id="afterBtn2" class="btn" (click)="loadPage(pages, term)">Fim</button>
          </td>
        </ul>
        <br>
        <br>
        <p class="p-center">Página: {{offset}}/{{pages}}</p>
        <br>
      </div>
    </div>
  </tr>
</table>
