<div class="row">
  <div class="col-sm-12 text-center">
    <h3>Proposições votadas pelos parlamentares</h3>
    <div *ngIf="loading" class="center">
      <p>Carregando dados...</p>
      <div class="loader"></div>
    </div>
  </div>
</div>

<br>
<ng-container *ngIf="!loading">
<div class="row">
  <div class="col-sm-6 text-center" *ngFor="let p of proposition">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">{{p['proposition_type_initials']}} {{p['number']}}/{{p['year']}}</h3>
      </div>
      <div class="panel-body">
        <h5>{{p['proposition_type']}}</h5>
        <div class="text-justify">
          <div *ngIf="p['abstract'].length <= 400">
            <p>{{p['abstract']}}</p>
          </div>
          <div *ngIf="p['abstract'].length > 400">
            <p>{{p['abstract'].substr(0, 400)}}... [...]</p>
          </div>
        </div>
        <button class="btn btn-primary" (click)="openProposition(p['url_full'])">Veja na íntegra</button>
      </div>
      <div class="panel-footer text-muted">atualizada {{p['days_ago']}} dia(s) atrás</div>
    </div>
  </div>
</div>
</ng-container>
<table style="width:100%" *ngIf="pages > 0">
    <tr>
      <div class="row">
        <div class="col-sm-12">
          <ul class="nav nav-pills center">
            <td>
              <button id="beforeBtn1" class="btn" (click)="loadPage(1)">Inicio</button>
            </td>
            <td>
              <button id="beforeBtn2" class="btn" (click)="loadPage(offset-1)">Ant.</button>
            </td>
            <td>
              <input id="pageBtn1" type="text" size="3" class="form-control" #page>
            </td>
            <td>
              <button id="pageBtn2" class="btn" (click)="loadPage(page.value)">Ir</button>
            </td>
            <td>
              <button id="afterBtn1" class="btn" (click)="loadPage(offset+1)">Prox.</button>
            </td>
            <td>
              <button id="afterBtn2" class="btn" (click)="loadPage(pages)">Fim</button>
            </td>
          </ul>
          <br>
          <br>
          <p class="p-center">Página: {{offset}}/{{pages}}</p>
          <br>
        </div>
      </div>
    </tr>
  </table>
