.sidebar {
    height: 100%; 
    width: 12%; 
    position: fixed; 
    z-index: 0;
    top: 0; 
    background-color: #122a38; 
    display: flex;
    align-items: center;
}

.link-box{
    height: 70%;
    max-width: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.link-box a, a:link{
    text-decoration: none;
    font-family: monospace;
    max-width: 100%;
    font-size: 2.5vw;
    color: #f5f8fa;
    min-height: 0;
    flex: 1;
}

.link-box a:hover{
    color: #3097D1;
}