<div class="wrapper">
    <!-- Sidebar Holder -->
    <!-- <nav id="sidebar" class="active"> -->
    <nav id="sidebar">
        <div ng-class="('true' == 'true') ? 'active' : ''">
            <div class="sidebar-header text-center">
                <h4>
                    <i>Descubra já quem realmente pensa como você!</i>
                </h4>
                <strong>
                    <i>VP</i>
                </strong>
            </div>

            <ul class="list-unstyled components">
                <!-- <li class="active"> -->
                <li>
                    <a href="/">
                        <i class="glyphicon glyphicon-home"></i>
                        Página inicial
                    </a>
                </li>
                <li>
                    <!-- Link with dropdown items -->
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
                        <i class="glyphicon glyphicon-briefcase"></i>Deputados
                    </a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="parlamentares">
                                Ver todos os deputados
                            </a>
                        </li>
                        <li>
                            <a href="parlamentares-mais-seguidos">
                                Ver deputados mais seguidos
                            </a>
                        </li>
                        <li id="conditional">
                            <div class="tooltip">
                                <a [ngClass]="getStyle()" href="parlamentares-seguidos">
                                    Ver deputados seguidos
                                </a>
                                <span *ngIf="token.getToken() === ''" class="tooltiptext">
                                    Faça login para poder acessar esta opção
                                </span>
                            </div>

                        </li>
                    </ul>

                    <li>
                        <!-- Link with dropdown items -->
                        <a href="#homeSubmenu2" data-toggle="collapse" aria-expanded="false">
                            <i class="glyphicon glyphicon-file"></i>Proposições
                        </a>
                        <ul class="collapse list-unstyled" id="homeSubmenu2">
                            <li>
                                <a href="proposicoes">
                                    Ver todas as proposições
                                </a>
                            </li>
                            <div>
                                <li>
                                    <div class="tooltip">
                                        <a [ngClass]="getStyle()" href="votar" id="deSuaOpiniao">
                                            Votar em proposição
                                        </a>
                                        <span *ngIf="token.getToken() === ''" class="tooltiptext">
                                            Faça login para poder acessar esta opção
                                        </span>
                                    </div>

                                </li>
                            </div>
                            <div>
                                <li>
                                    <div class="tooltip">
                                        <a [ngClass]="getStyle()" href="proposicoes-votadas" id="deSuaOpiniao">
                                            Ver votos em proposições
                                        </a>
                                        <span *ngIf="token.getToken() === ''" class="tooltiptext">
                                            Faça login para poder acessar esta opção
                                        </span>
                                    </div>
                                </li>
                            </div>
                        </ul>
                        <div>
                            <li>
                                <div class="tooltip ranking">
                                    <a [ngClass]="getStyle()" href="/ranking-de-compatibilidade">
                                        <i class="glyphicon glyphicon-star"></i>
                                        Ranking compatibilidade
                                    </a>
                                    <span *ngIf="token.getToken() === ''" class="tooltiptext">
                                        Faça login para poder acessar esta opção
                                    </span>
                                </div>
                            </li>
                        </div>
                        <li>
                            <a href="/entre-em-contato">
                                <i class="glyphicon glyphicon-send"></i>
                                Entre em contato
                            </a>
                        </li>
            </ul>
            <ul class="list-unstyled CTAs">
                <li>Contribua com o projeto!
                    <i class="glyphicon glyphicon-heart"></i>
                </li>
                <br>
                <li>
                    <a href="https://github.com/fga-gpp-mds/2018.1-VoxPop-API" class="article">Repositório da API</a>
                </li>
                <li>
                    <a href="https://github.com/fga-gpp-mds/2018.1-VoxPop-WebApp" class="article">Repositório do WebApp</a>
                </li>
            </ul>
        </div>
    </nav>

</div>
