/* Create two equal columns that floats next to each other */
.column {
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 10px;
    padding-left: 35px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.main-card {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    transition: .3s;
    width: 95%;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    border-color: #6c757d;
}

.btn {
    border-color: gray;
    background-color: #7386D5;
}

.container{
    width: 88%;
}
