<div class="col-md-6 col-md-offset-3">
  <form (submit)="registerUser($event)">
      <div class="alert alert-danger" role="alert" id="alert-invalid" style="display:none">
        <p>{{validator.valueErrorHandler}}</p>
      </div>
    <div id="firstPart" class="register-card">
        <div class="alert alert-danger" role="alert" id="alert-invalid-inputs" style="display:none">
          <p>{{validator.valueInvalidInput}}</p>
        </div>
         <div class="form-group">
              <span class="required">*</span>
              <label>Nome de Usuário</label>
              <input name="username" type="text" class="form-control" placeholder="Entre o nome do usuário" id = "username"
              (keyup)="validator.onKeyUsername($event)" [(ngModel)]="user.username">
              <div class="alert alert-danger" role="alert" id="alert-username" style="display:none">
                <p>{{validator.valueUsername}}</p>
              </div>
         </div>
         <div class="form-group">
            <label>Primeiro Nome</label>
            <input name="first_name" type="text" class="form-control" placeholder="Digite o seu primeiro nome" [(ngModel)]="user.first_name">
         </div>
         <div class="form-group">
            <label>Sobrenome</label>
            <input name="last_name" type="text" class="form-control" placeholder="Digite o seu sobrenome" [(ngModel)]="user.last_name">
         </div>
         <div class="form-group">
              <span class="required">*</span>
              <label>Senha</label>
              <input name="password" type="password" class="form-control" minlength="8" id="password"
              (keyup)="validator.onKeyPassword($event)"
              placeholder="Senha"
              [(ngModel)]="user.password">
              <div class="alert alert-danger" role="alert" id="alert-invalid-password" style="display:none">
                <p>{{validator.valueInvalidPassword}}</p>
              </div>
         </div>
         <div class="form-group">
              <span class="required">*</span>
              <label>Confirmar Senha</label>
              <input name="confirm-password" type="password" class="form-control" minlength="6" id="confirm-password"
              maxlength="20" (keyup)="validator.onKeyConfirmPassword($event)"
              (keyup)="validator.onKeyValidatorPassword($event)" placeholder="Confirmar senha">
              <div class="alert alert-danger" role="alert" id="alert-password" style="display:none">
                   <p>{{validator.valuePassword}}</p>
              </div>
         </div>
         <div class="form-group">
              <span class="required">*</span>
              <label>E-mail</label>
              <input name="email" type="email" class="form-control" id="email"
              (keyup)="validator.onKeyEmail($event)" placeholder="exemplo@exemplo.com"
              [(ngModel)]="user.email">
              <div class="alert alert-danger" role="alert" id="alert-email" style="display:none">
                <p>{{validator.valueEmail}}</p>
              </div>
         </div>
         <div style="text-align: right">
           <span class="required">*</span>
           Obrigatório
         </div>
         <div style="text-align: center">
          <button class="btn btn-primary"
          type="button" id="nextBtn"
          (click)="validator.validatorRegisterUser()">
          Próxima parte</button>
         </div>
    </div>


    <div style="display:none" id="secondPart" class="register-card">
         <div class="form-group">
              <label>Estado</label>
              <select name="federal_unit" class="form-control" [(ngModel)]="user.social_information['federal_unit']">
                   <option value="N" selected>Prefiro não responder</option>
                   <option value="AC" >Acre</option>
                   <option value="AL">Alagoas</option>
                   <option value="AP">Amapá</option>
                   <option value="AM">Amazonas</option>
                   <option value="BA">Bahia</option>
                   <option value="CE">Ceará</option>
                   <option value="DF">Distrito Federal</option>
                   <option value="ES">Espírito Santo</option>
                   <option value="GO">Goiás</option>
                   <option value="MA">Maranhão</option>
                   <option value="MT">Mato Grosso</option>
                   <option value="MS">Mato Grosso do Sul</option>
                   <option value="MG">Minas Gerais</option>
                   <option value="PA">Pará</option>
                   <option value="PB">Paraíba</option>
                   <option value="PR">Paraná</option>
                   <option value="PE">Pernambuco</option>
                   <option value="PI">Piauí</option>
                   <option value="RJ">Rio de Janeiro</option>
                   <option value="RN">Rio Grande do Norte</option>
                   <option value="RS">Rio Grande do Sul</option>
                   <option value="RO">Rondônia</option>
                   <option value="RR">Roraima</option>
                   <option value="SC">Santa Catarina</option>
                   <option value="SP">São Paulo</option>
                   <option value="SE">Sergipe</option>
                   <option value="TO">Tocantins</option>
              </select>
         </div>
         <div class="form-group">
              <label>Cidade</label>
              <input name="city" type="text" class="form-control" placeholder="Cidade" [(ngModel)]="user.social_information['city']">
         </div>
         <div class="form-group">
              <label>Renda</label>
              <select name="income" class="form-control" [(ngModel)]="user.social_information['income']">
                   <option value="-1">Prefiro não responder</option>
                   <option value="0">Entre R$0,00 até R$1000,00</option>
                   <option value="1">Entre R$1000,01 até R$3000,00</option>
                   <option value="2">Entre R$3000,01 até R$6000,00</option>
                   <option value="3">Entre R$6000,01 até R$9000,00</option>
                   <option value="4">Entre R$9000,01 até R$15000,00</option>
                   <option value="5">Entre R$15000,01 até R$25000,00</option>
                   <option value="6">R$25000,01 para cima</option>
              </select>
         </div>
         <div class="form-group">
              <label>Formação</label>
              <select name="education" class="form-control" [(ngModel)]="user.social_information['education']">
                   <option value="N">Prefiro não responder</option>
                   <option value="EFC">Ensino Fundamental Completo</option>
                   <option value="EFI">Ensino Fundamental Incompleto</option>
                   <option value="EMC">Ensino Médio Completo</option>
                   <option value="EMI">Ensino Médio Incompleto</option>
                   <option value="ESC">Ensino Superior Completo</option>
                   <option value="ESI">Ensino Superior Incompleto</option>
                   <option value="PG">Pós Graduação</option>
                   <option value="ME">Mestrado</option>
                   <option value="DO">Doutorado</option>
                   <option value="PD">Pós Doutorado</option>
              </select>
         </div>
         <div class="form-group">
              <label>Profissão</label>
              <input name="job" type="text" class="form-control" placeholder="Profissão" [(ngModel)]="user.social_information['job']">
         </div>
         <div class="form-group">
              <label>Data de Nascimento</label>
              <input name="birth_date" type="date" class="form-control" [(ngModel)]="user.social_information['birth_date']">
         </div>
         <button class="btn btn-primary"
         type="button" id="returnBtn"
         (click)="validator.clickReturnButton()">
         Retornar</button>
         <button class="btn btn-primary" type="submit" id="registerBtn" disabled>Cadastrar</button>

    </div>

  </form>
</div>
