.register-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    transition: .3s;
    padding: 5% 10% 5% 10%;
    background: white;
    color: #122a38;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    border-color: #6c757d;
    height: 52rem;
}

.register-card:hover {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .2);
}

.btn, .btn-primary{
    background-color: #3097D1;
}

.btn:hover, .btn-primary:hover{
    background-color: #5bc0de;
}

.required{
    color: #f0ad4e;
}

.title {
    margin-top: 2px;
}

.container{
    width: 88%;
}
