<div class="container">
  <div class="col-sm-4 col-sm-offset-4 text-center">
    <h3>Editar Meu Perfil</h3>
  </div>
  <form (submit)="updateUser($event)" >
      <div class="alert alert-danger" role="alert" id="alert-invalid" style="display:none">
          <p>Erro ao editar</p>
        </div>
    <div class="col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title text-center">
            <span>Informações da conta</span>
          </h3>
        </div>
        <div class="panel-body">
          <div class="alert alert-danger" role="alert" id="alert-invalid-inputs" style="display:none">
            <p>{{validator.valueInvalidInput}}</p>
          </div>
           <div class="form-group">
                <span class="required">*</span>
                <label>Nome de Usuário</label>
                <input name="username" type="text" class="form-control" id = "username"
                (keyup)="validator.onKeyUsername($event)" value="{{user.username}}"
                [(ngModel)]="user.username">
                <div class="alert alert-danger" role="alert" id="alert-username" style="display:none">
                  <p>{{validator.valueUsername}}</p>
                </div>
           </div>
           <div class="form-group">
              <label>Primeiro Nome</label>
              <input name="first_name" type="text" class="form-control" value="{{user.first_name}}"
              [(ngModel)]="user.first_name">
           </div>
           <div class="form-group">
              <label>Sobrenome</label>
              <input name="last_name" type="text" class="form-control" value="{{user.last_name}}"
              [(ngModel)]="user.last_name">
           </div>
           <div class="form-group">
                <!-- <span class="required">*</span> -->
                <label>Senha (digite somente caso queira alterar)</label>
                <input name="password" type="password" class="form-control" minlength="8" id="password"
                (keyup)="validator.onKeyPassword($event)"
                placeholder="Senha"
                [(ngModel)]="user.password">
                <div class="alert alert-danger" role="alert" id="alert-invalid-password" style="display:none">
                  <p>{{validator.valueInvalidPassword}}</p>
                </div>
           </div>
           <div class="form-group">
                <!-- <span class="required">*</span> -->
                <label>Confirmar Senha</label>
                <input type="password" class="form-control" minlength="6" id="confirm-password"
                maxlength="20" (keyup)="validator.onKeyConfirmPassword($event)"
                (keyup)="validator.onKeyValidatorPassword($event)" placeholder="Confirmar senha">
                <div class="alert alert-danger" role="alert" id="alert-password" style="display:none">
                     <p>{{validator.valuePassword}}</p>
                </div>
           </div>
           <div class="form-group">
                <span class="required">*</span>
                <label>E-mail</label>
                <input name="email" type="email" class="form-control" id="email"
                (keyup)="validator.onKeyEmail($event)" value="{{user.email}}"
                [(ngModel)]="user.email">
                <div class="alert alert-danger" role="alert" id="alert-email" style="display:none">
                  <p>{{validator.valueEmail}}</p>
                </div>
           </div>
           <div style="text-align: right">
             <span class="required">*</span>
             Obrigatório
           </div>
           <div style="text-align: center">
           </div>
         </div>
       </div>
     </div>

    <div class="col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title text-center">
            <span>Informações sociais</span>
          </h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label>Região</label>
            <select name="region" class="form-control" value="{{user.social_information.region}}"
            [(ngModel)]="user.social_information['region']">
              <option value=null>Prefiro não responder</option>
              <option value="N">Norte</option>
              <option value="NE">Nordeste</option>
              <option value="CO">Centro-Oeste</option>
              <option value="SE">Sudeste</option>
              <option value="S">Sul</option>
            </select>
          </div>
          <div class="form-group">
            <label>Renda</label>
            <select name="income" class="form-control" value="{{user.social_information.income}}"
            [(ngModel)]="user.social_information['income']">
              <option value=null>Prefiro não responder</option>
              <option value="E">Entre R$0,00 até R$1874,00</option>
              <option value="D">Entre R$1874,01 até R$3748,00</option>
              <option value="C">Entre R$3748,01 até R$9370,00</option>
              <option value="B">Entre R$9370,01 até R$18740,00</option>
              <option value="A">R$18740,01 para cima</option>
            </select>
          </div>
          <div class="form-group">
            <label>Formação</label>
            <select name="education" class="form-control" value="{{user.social_information.education}}"
            [(ngModel)]="user.social_information['education']">
              <option value=null>Prefiro não responder</option>
              <option value="SE">Sem Escolaridade</option>
              <option value="EF">Ensino Fundamental</option>
              <option value="EM">Ensino Médio</option>
              <option value="ES">Ensino Superior</option>
              <option value="PG">Pós Graduação</option>
            </select>
          </div>
          <div class="form-group">
            <label>Raça</label>
            <select name="race" class="form-control" value="{{user.social_information.race}}"
            [(ngModel)]="user.social_information['race']">
              <option value=null>Prefiro não responder</option>
              <option value="B">Branca</option>
              <option value="PR">Preta</option>
              <option value="A">Amarela</option>
              <option value="PA">Parda</option>
              <option value="I">Indígena</option>
            </select>
          </div>
          <div class="form-group">
            <label>Gênero</label>
            <select name="gender" class="form-control" value="{{user.social_information.gender}}"
            [(ngModel)]="user.social_information['gender']">
              <option value=null>Prefiro não responder</option>
              <option value="M">Masculino</option>
              <option value="F">Feminino</option>
              <option value="O">Outros</option>
            </select>
          </div>
          <div class="form-group">
            <label>Data de Nascimento</label>
            <input name="birth_date" type="date" class="form-control" value="0001-01-01" value="{{user.social_information.birth_date}}"
            [(ngModel)]="user.social_information['birth_date']">
          </div>
          <div class="text-right ">
            <button class="btn btn-primary" (click)="validator.validatorEditUser()"> Salvar</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
